body {
    background-color: red;
}

p {
    color:navy;
    font-family:Arial Rounded MT Bold;
    
}

h1 {
    color: darkgoldenrod;
    font-family:Arial Rounded MT Bold;
    
}

h2 {
    color: darkgoldenrod;
    font-family:Arial Rounded MT Bold;
    
}

h3 {
	color: darkgoldenrod;
	font-family: darkgoldenrod;
}

h5 {
    color: darkgoldenrod;
    font-family:Palace Script MT
}

button {
	border-color: aqua;
	color: cadetblue;
	background-color: black;
}

a {
	color: cadetblue;
}

hr {
	border-color: goldenrod	;

}

.jumbotron {
		color:darkgoldenrod;
		background-color: white;
}