body {
    background-color:black;
}

h1 {
    color:gold; font-family:blackadder itc; font-size:50px
}

p {
    color:firebrick;font-family:monospace; 
}

a {
    color:aqua;
}

hr {
    color:blue;
}
    
a:hover {
    color:yellow; font-size:30px
}

h2 {
    color:forestgreen
}

h3 {
    color:yellow
}

ul {
    color:firebrick; font-family:fantasy;
}

h4 {
    color:darkorange
}