body {
    background-color: red;
}

p {
    color:white;
    font-family:Arial Rounded MT Bold;
    
}

h1 {
    color: white;
    font-family:Arial Rounded MT Bold;
    
}

h2 {
    color: white;
    font-family:Arial Rounded MT Bold;
    
}

h3 {
	color: white;
	font-family: darkgoldenrod;
}

h5 {
    color: white;
    font-family:Palace Script MT
}

button {
	border-color: black;
	color: red;
	background-color: darkgoldenrod;
	
}

a {
	color: white;
}

hr {
	border-color: goldenrod	;

}

.jumbotron {
		color:darkgoldenrod;
		background-color: white;
}

footer {
	color: darkgoldenrod;
}

.newPage {
	background-color: darkgoldenrod;
	border-color:black;
	color: red;
}

.box {
	background-color: red;
	color:gold;
	border-color: black;
}

ul {
	color: white;

}

li {
	color: white;

}

del {
	color:black;
}